################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
